<app-header class="text-font margin-title" [text]="book.title"></app-header><app-info class="available-center" [quantity]="book.quantity"></app-info>
<div nz-row >
    <div nz-col [nzXs]="{span:20, offset:4}" [nzSm]="{span:10, offset:2}" [nzMd]="{span:10, offset:4}" [nzLg]="{span:6, offset:8}" [nzXl]="{span:7, offset:6}">
        <p class="text-new-font" *ngIf="book.authors.length > 0">Authors</p>
        <div *ngIf="book.authors.length == 0">
            <p class="text-new-font">Authors not available</p>
        </div>  
        <app-authors class="text-styles" [authors]="book.authors"></app-authors>
        <div>
            <p class="text-new-font padding-top">Description: </p>
            <p class="text-styles margin-bottom">
                {{book.description}}
            </p>
        </div>
        <p class="text-date padding-top date-to-bottom">Creation date: {{ creationDate }}</p>
    </div>
    <div nz-col class="boximg text-center" [nzXs]="24" [nzSm]="12" [nzMd]="{span:10}" [nzLg]="{span:10}" [nzXl]="{span:11}">
        <div class="boximg" *ngIf="book.imageUrl !=''; else notAvailable"> 
            <img [src]="book.imageUrl"/>
            <p class="text-font">ISBN: {{book.isbn}}</p> 
        </div>
        <ng-template #notAvailable ><img src="assets/img-no-available.png"/><p class="text-font">ISBN: {{book.isbn}}</p> </ng-template>
    </div> 
</div>