$font-stack:Times New Roman, sans-serif;
.date-to-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 0;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 0;
}
.text-new-font{
    font: 100% $font-stack;
     font-size: 23px;
     margin-bottom: 5px;
}
.padding-top{
    padding-top: 10px;
}
.text-styles{
    font: 100% $font-stack;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.margin-bottom{
    margin-bottom: 25px;
}
.text-date{
    font-size:15px;
}
.available-center{
    text-align: center;
}

  @media only screen and (min-width: 580px) {
    .ant-col.ant-col-xs-20{
        border-right: double;
    }
  }