<form #authorForm="ngForm" nz-form [formGroup]="validateAuthor">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired >First name </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input first name!">
            <input type="text" nz-input formControlName="firstName" id="firstName" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" >Middle name </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input type="text" nz-input formControlName="middleName" id="middleName" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired >Last name </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input last name!">
            <input type="text" nz-input formControlName="lastName" id="lastName" />
        </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary"  (click)="handleCancel()" >Cancel</button>
    <button nz-button nzType="primary" (click)="handleOk(authorForm)" >Add author</button>
</form>