$font-stack:Times New Roman, sans-serif;
.titleDesign{
    text-align:center; 
}

.padding-0{
    margin:0;
    padding:0;
}
.box img{
   
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.hidden {
    display: none;
}
img {max-width:100%;} 
.hoverable:hover + .hidden {
    display: block;
    cursor: pointer;
}  
.search-results {
    height: 100%;
  }  
  @media only screen and (max-device-width: 480px) {
 
    .box{
        padding: 0;
        box-sizing: border-box;
        height: 150px;
    }
 
 }
  @media only screen and (min-width: 960px) {
    .box{
        padding: 0;
        box-sizing: border-box;
        height: 150px;
        width: 180px;
    }
 }
