<app-header class="text-font" [text]="'Books'"></app-header>
  <nz-list nzGrid>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="12" [nzXs]="24" *ngFor="let book of books">
        <nz-list-item>
          <nz-card class="titleDesign" [nzTitle]="book.title">
            <div nz-row>
            <div class="box" nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
                <app-info [quantity]="book.quantity"></app-info> 
                <app-button (click)="detailsClicked(book)" [text]="'details'"></app-button>
            </div>

            <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="12" [nzXs]="24">
              <div class="box" *ngIf="book.imageUrl !=''; else notAvailable"> 
                <img [src]="book.imageUrl"/>
              </div>
              <ng-template #notAvailable ><img class="box" src="assets/img-no-available.png"/></ng-template>
            </div>
          </div>
          </nz-card>
        </nz-list-item>
      </div>
    </div>
  </nz-list>
  <div
      class="search-results"
      infiniteScroll
      (scrolled)="onScrollDown()"
></div>
          