<nz-modal [(nzVisible)]="isVisible" nzTitle="Add author">
    <ng-container *nzModalContent>
       <app-form-add-author [isModalVisible]="isVisible" (isVisible)="closeModal($event)" (authorAdded)="notifyAddForm($event)"></app-form-add-author>
    </ng-container>
    <div *nzModalFooter>
    </div>
</nz-modal>