<app-header class="text-font margin-title" [text]="'Register'"></app-header>
<form #registerForm="ngForm" class="login-form" [formGroup]="validateRegister" (ngSubmit)="submitForm(registerForm)">
    <div>
        <div>
            <label class="register-form-margin-right">Username:</label>
            <nz-form-control  nzErrorTip="Please input username!">
                <input ngModel class="form-control"formControlName="userName"  name="userName" type="text" placeholder="Username" nzRequired/>   
            </nz-form-control>
        </div>
  
        <div class="register-form-margin">
            <label class="register-form-margin-right">Password:</label>
            <nz-form-control  nzErrorTip="Please input password!">
                <input ngModel name="password" class="form-control" formControlName="password" type="password" placeholder="Password" required/>
            </nz-form-control>
        </div>
        <div class="register-form-margin">
            <label class="register-form-margin-right">First name:</label>
            <nz-form-control  nzErrorTip="Please input first name!">
                <input ngModel class="form-control" name="firstName" type="text" formControlName="firstName" placeholder="First name" required/>   
            </nz-form-control>  
        </div>
        <div class="register-form-margin">
            <label class="register-form-margin-right">Last name:</label>
            <nz-form-control  nzErrorTip="Please input last name!">
                 <input ngModel class="form-control" name="lastName" type="text" formControlName="lastName" placeholder="Last name" required/>    
            </nz-form-control> 
        </div>
        <button nz-button class="register-form-margin margin-top-button" type ="submit" >Register</button>
        <button type="button" class="margin-left" (click)="cancel(registerForm)">Cancel</button>
  </div>
</form>