nz-date-picker,
      nz-range-picker {
        margin: 0 8px 12px 0;
      }
      nz-select {
        width: 240px;
      }
      nz-divider {
        margin: 4px 0;
      }
      .container {
        display: flex;
        flex-wrap: nowrap;
        padding: 8px;
      }
      .add-item {
        flex: 0 0 auto;
        padding: 8px;
        display: block;
      }
      .container{
        margin-top: 35px;
      }
        
      .ant-form-item-label.ant-col.ant-col-xs-24.ant-col-sm-6{
        text-align: left;
      } 
      .ant-form-item.ant-row{
        margin-top: 50px;
        text-align: right;
      }
      button{
        float: right; 
        margin-left: 5px;
      }