<div nz-row>
  <div nz-col [nzXs]="{span:12}" [nzSm]="{span:12}" [nzMd]="{span:10, offset:4}"
    [nzLg]="{span:6, offset:8}" [nzXl]="{span:7, offset:6}">
    <form nz-form #addBookForm="ngForm" [formGroup]="validateForm" (ngSubmit)="submitForm(addBookForm)">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Title</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input title!">
          <input nz-input formControlName="title" id="title" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzErrorTip="Please input description!">Description</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="description" id="description" formControlName="description" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>ISBN</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input ISBN!">
          <input nz-input id="isbn" formControlName="isbn" placeholder="isbn" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Quantity</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input quantity!">
          <input nz-input id="quantity" type="number" formControlName="quantity" placeholder="quantity" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Image</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input image url!">
          <input nz-input id="imageUrl" type="text" formControlName="imageUrl" placeholder="image url" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Add</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col class="boximg text-center" [nzXs]="{span:12}" [nzSm]="{span:12}" [nzMd]="{span:10}" [nzLg]="{span:10}"
    [nzXl]="{span:7}">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Authors</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select authors!">
        <nz-select nzMode="multiple" [(ngModel)]="listOfSelectedValue" nzShowSearch nzPlaceHolder="authors">
          <nz-option *ngFor="let author of allAuthors" [nzLabel]="getFullAuthorName(author)" [nzValue]="author">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button (click)="openAuthorModal()"><span>Add new author</span></button>
    </nz-form-item>
    <app-modal [isVisible]="isModalVisible" (isVisibleEvent)="setIsModalVisible($event)" (authorAdded)="addAuthor($event)">
    </app-modal>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>
        Creation date
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker [(ngModel)]="date" [nzFormat]="dateFormat"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>