<app-header class="text-font margin-title" [text]="'Login'"></app-header>
<form #loginForm="ngForm" class="login-form" [formGroup]="validateLogin" (ngSubmit)="submitForm(loginForm)">
    <div>
        <div class="login-form-margin">
            <label class="login-form-margin-right">Username:</label>
            <nz-form-control  nzErrorTip="Please input user name!">
                <input ngModel class="form-control" name="userName" formControlName="userName" type="text" placeholder="Username" required/> 
            </nz-form-control>   
        </div>
  
        <div class="login-form-margin">
            <label class="login-form-margin-right">Password:</label>
            <nz-form-control  nzErrorTip="Please input password!">
                <input ngModel name="password" class="form-control" formControlName="password" type="password" placeholder="Password" required/>
            </nz-form-control>
        </div>
        <button type="button" class="margin-top-button" (click)="cancel(loginForm)">Cancel</button>
        <button nz-button class="margin-left login-form-margin" type ="submit" >Login</button>
  </div>
</form>