.login-form-margin {
    margin-top: 10px;
}
form{
  text-align: center;
    padding-top:20px;
}
.login-form-margin-right{
   margin-right: 5px;
}
.margin-left{
  margin-left: 20px;
}
.margin-top-button {
  margin-top: 20px;
}

