<ul class="menuHeight" nz-menu nzMode="horizontal">
  <li class=" marginAuto" nz-menu-item>
    <span class="text-color">Library</span><img src="assets/book.png" alt="logo" class="icon-design">
  </li>
    <li nz-menu-item class="marginAuto">
      <a class="text-color" routerLink="/books"> Books </a>
    </li> 
    <li  *ngIf="!isLoggedIn()"   nz-menu-item class="marginAuto ">
      <a class="text-color" routerLink="/login"> Login</a>
    </li>
    <li *ngIf="isLoggedIn() && isAdmin()" nz-menu-item class="marginAuto">
      <a class="text-color" routerLink="/add-book"> Add book</a>
    </li>
    <li *ngIf="!isLoggedIn()" nz-menu-item class="marginAuto ">
      <a class="text-color" routerLink="/register"> Register</a>
    </li>
    <li *ngIf="isLoggedIn()" nz-menu-item class="marginAuto ">
      <a role="button" (click)="logout()" class="text-color" routerLink="/login"> Logout</a>
    </li>
</ul>