span.text-color{
    font-size: 18px;
}
a.text-color{
    font-size: 18px;
}
.text-align{
    float:right;
}

@media only screen and (max-device-width: 480px) {
  
    ul li{
         
       display: block;
       text-align: center;
    }
 
 
 }