$font-stack:Times New Roman, sans-serif;
$primary-color: #B00E0E;
  .padding-0 {
      padding: 0;
  }

  .padding-left30-right30 {
     padding-left: 15px;
     padding-right: 15px;
  }

  .div-padding{
   padding-top: 90px;
  }
  a.text-color{
     color:white !important;
  }
  .text-color{
     color:white;
  }
   .icon-design{
      width: 50px; 
      height: 40px;
      display: inline;
   }
   .ant-li-menu-item{
      float:right;
   }
  .spacing{
   word-spacing: -2px;
  }
  .text-font{
     font: 100% $font-stack;
     text-align: center;
     font-size: 2vh;
   //font-family: "Times New Roman", Times, serif;
  }
  .text-left{
     text-align: left;
  }
  header{
   margin-top: 20px;
   margin-bottom: 30px;
  }
  .ant-card-body{
   background-color:#F5F5F5;
  }
  .ant-card-head-title{
   color: black;

  }
  .ant-menu.ant-menu-root.ant-menu-light.ant-menu-horizontal{
   background-color: $primary-color;
  }
  .available{
     color: green;
  }
  .notAvailable{
   color: red; 
   text-align: right;
  }
  .margin-0 {
   margin: 0px;
  }
  .nav-icon-design{
   padding-right: 5px;
  }
  .padding-10{
     padding: 10px;
  }

  .bg-color-gray{
   background-color:#E1E6E6;
  }

  .ant-collapse.ant-collapse-icon-position-left{
     width: 250px;
  }
  .picture-design-book{
   width: 300px;
   height: 280px;
  }
  .my-element {
    width: 400px;
  }

  div.ant-card-head{
     background-color: #F7C765;
  }
  .ant-card-body{
   border-radius: 0 0 10px 10px;
  }

  .pictureDesign{
     text-align: right;
     width: 200px;
     height: 150px;
  }
  .position{
    display:inline;
  }
  .boximg{
   padding: 0;
   box-sizing: border-box;
   height: 300px;
}
  
  .boximg img{
   margin: auto;
   max-width: 100%;
   max-height: 100%;
}

.text-center {
   text-align: center;
} 

@media only screen and (device-width: 768px) {
   .ul.menuHeight.ant-menu.ant-menu-root.ant-menu-light.ant-menu-horizontal{
      background-color: blue!important;
      display: block!important;
   }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
    ul li{
      color: blue;

      display: block;
   }
 }